.custom-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .image-container {
    margin-right: 20px; /* Ajusta el espacio entre la imagen y el contenido */
  }
  
  .image-container img {
    max-width: 300px;
    
  }

  img{
    border-radius: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  

